.bar {
  fill: orange;
  position: relative;
  z-index: 100;
}

.bar:hover {
  fill: orangered;
}

#surge-chart-box {
  pointer-events: none;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}